.registration-form {
  background-color: #ffffff;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);  width: 100%;
  max-width: 560px;
  margin: auto;
  margin-top: 40px;
  padding: 40px;
}