/*General*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --primary-color: rgb(18,140,70);
    --primary-bg-color: rgb(239,239,239);
    --primary-link-color: rgb(54,155,202);
    --secondary-text-color: rgb(89,89,89);
    --primary-button-color: rgb(204, 204, 204);
    --secondary-button-color: rgb(170, 170, 170);
}

body {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
}

.container {
    margin: 0 auto;
    max-width: 960px;
}

/*Buttons*/
.btn {
    background-color: var(--primary-button-color);
    border-radius: 0;
    padding: 3px 12px;
    border: none;
    font-size: 16px;
}

.btn:hover {
    background-color: var(--secondary-button-color);
}

.btn:active {
    transform: scale(0.97);
}


/*Page layout */
.index-page-layout {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto auto auto;
    row-gap: 10px;
    column-gap: 10px;
}

.index-page-layout > header {
    grid-row: 1;
    grid-column: 1 / span 3;
}

.index-page-layout > aside {
    grid-row: 2;
    min-height: 80vh;
}

.index-page-layout > main {
    grid-row: 2;
    grid-column: span 2;
    display: grid;
    grid-template-rows: auto auto auto;
    align-self: start;
}

.index-page-layout > footer {
    grid-row: 3;
    grid-column: span 3;
}

/*Main header*/
.header {
    background-color: var(--primary-color);
    color: #ffffff;
    align-content: center;
    padding: 10px 10px;
}

.header > h2 {
    font-weight: normal;
}

/*Side section*/
aside {
    background-color: var(--primary-bg-color);
    padding: 10px 0 ;
}

.category {
    padding: 0 10px;
}

.category  > div {
    display: flex;
    flex-direction: column;
    padding: 5px 15px;
}
/*Content layout css*/

.section-heading {
    padding: 20px 10px;
    align-content: center;
}

/*Index page Content main header */
.headline {
    grid-row: 1;
    grid-column: span 12;
}

.headline > h1 {
    font-size: 30px;
    font-weight: bolder;
}

.headline > h4 {
    font-weight: lighter;
}

/*Posts*/
.posts {
    grid-row: 2;
    grid-column: span 12;
    display: grid;
    row-gap: 10px;
    column-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(49%, 1fr));
}

/* Popular section */
.popular-section {
    grid-row: 3;
    grid-column: span 12;
}

.popular-section > header {
    padding-bottom: 20px;
}

.popular {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(32%, 1fr));
    row-gap: 10px;
    column-gap: 10px;
}

.card {
    background-color: var(--primary-bg-color);
    padding: 10px 10px;
}

/*Card*/

.card {
    display: flex;
    flex-direction: row;
}

.card a {
    cursor: pointer;
    text-decoration: underline;
}

.card a, .card h4{
    color: var(--primary-link-color);

    font-weight: normal;
    font-size: 16px;
}

.card-image > img {
    float: left;
    padding-right: 10px;
    width: 75px;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-content > button {
    width: fit-content;
}

.card-content > h4 {
    color: var(--secondary-text-color);
    font-weight: normal;
    padding-top: 5px;
    padding-bottom: 5px;
}

/*Page footer*/
body > footer {
    padding: 0 10px;
    background-color: var(--primary-bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    color: var(--secondary-text-color);
}

body > footer > h4 {
    font-weight: normal;
}