.pagination button {
  background-color: #fff;
  border: 1px solid black;
  border-radius: 3px;
  color: black;
  padding: 3px 7px;
  margin-right: 2px;
  font-size: 18px;

  &.active {
    background-color: #ADD8E6;
    color: white;
  }
}